<div class="book-card publication-card publication-card--jctc">
  <a class="book-card__cover publication-card__cover-image" href="https://pubs.acs.org/doi/10.1021/acs.jctc.6c00057" aria-label="JCTC HiUCCSD paper page">
    <img src="{{ site.baseurl }}/images/hiuccsd-jctc-cover.png" alt="First page of the JCTC HiUCCSD paper" />
  </a>
  <div class="book-card__body">
    <div class="book-card__eyebrow">New Journal Paper</div>
    <h3 class="book-card__title">Hamiltonian-Informed Point Group Symmetry-Respecting Ansätze for the Variational Quantum Eigensolver</h3>
    <p class="book-card__text">
      Our article is now available online in <em>Journal of Chemical Theory and Computation</em>, presenting HiUCCSD, a Hamiltonian-informed and symmetry-respecting ansatz for molecular VQE calculations.
    </p>
    <p class="book-card__links">
      <a href="https://pubs.acs.org/doi/10.1021/acs.jctc.6c00057">Paper Page</a>
      <span>·</span>
      <a href="https://doi.org/10.1021/acs.jctc.6c00057">DOI</a>
      <span>·</span>
      <a href="https://arxiv.org/abs/2512.21087">arXiv</a>
    </p>
  </div>
</div>
