<div class="visitor-showcase">
  <div class="visitor-showcase__header">
    <h3 class="visitor-showcase__title">Global Visitors</h3>
    <p class="visitor-showcase__text">Country distribution and pageviews for this homepage.</p>
  </div>
  <a class="visitor-showcase__map" href="https://info.flagcounter.com/tzrG" rel="noopener noreferrer" target="_blank">
    <img
      src="https://s01.flagcounter.com/map/tzrG/size_l/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_1/"
      alt="Visitor map" />
  </a>
  <p class="visitor-showcase__hint">
    Click the map to open the full visitor details page.
  </p>
</div>
